@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="" contenteditable="false">Olá caro avaliador</h1>
    <p class="lead">Segue teste prático</p>
    <p><a href="https://br.linkedin.com/in/fernando-pinto-62185317" class="btn btn-primary btn-lg">Linkedin »</a></p>
</div>
