@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Acesso Negado!";
}

<h1 class="text-danger">Não deu Pau!</h1>
<h2 class="text-danger">O Prblema é que você não tem permissão para fazer isto :(</h2>
